@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Roboto:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.btn {
    background-color: transparent;
    padding: 15px 30px;
    border: 2px solid var(--sub-color);
    border-radius: 50px;
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 20px;
}

.btn:hover {
    background-color: var(--sub-color);

}

:root {
    --main-color: #100F0F;
    --sub-color: #0F3D3E;
    --text-color: #E2DCC8;
    --text2-color: #F1F1F1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-pading {
    padding: 80px 0;
}

.justify-content {
    justify-content: space-between;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.total {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

.total::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.4s ease;
}

.total.active::before {
    transform: translateY(0);
}

.total .logo img {
    width: 80px;
}

.total .menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.total .menu-bar.active {
    position: fixed;
    top: 30px;
    right: 0;
    transform: translateX(-200px);
    z-index: 1;
    transition: all 0.5s ease;
}

.total .menu-bar span {
    display: block;
    height: 2px;
    width: 40px;
    background-color: var(--text-color);
    position: relative;
}

.total .menu-bar.active span {
    background-color: transparent;
}

.total .menu-bar.active span::before {
    transform: rotate(-135deg);
}

.total .menu-bar.active span::after {
    transform: rotate(135deg);

}
#btn-checklogin {
    margin: 8px;
}
#open-login {
    cursor: pointer;
}

.total .menu-bar span::before {
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    transform: translateY(-10px);
    background-color: var(--text-color);
    transition: all 0.3s ease;
}

.total .menu-bar span::after {
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    transform: translateY(10px);
    background-color: var(--text-color);
    transition: all 0.3s ease;
}

.menu-items {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: var(--main-color);
    right: 0;
    top: 0;
    padding: 120px 60px;
    transform: translateX(100%);
    transition: all 0.5s ease;
}

.menu-items.active {
    transform: translateX(0);
}

.menu-item p {
    color: var(--text-color);
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
.menu-item input {
    padding: 5px;
}
.menu-items a {
    color: var(--text-color);
    line-height: 40px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

/* background image */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.center::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(background1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    animation: Inout 5s infinite;
}

@keyframes Inout {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.center::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    opacity: 0.4;
    z-index: -2;
}

.center .center-content {
    text-align: center;
    max-width: 500px;

}

.center .center-content h2 {
    font-size: 50px;
    color: var(--text2-color);
    font-family: 'Dancing Script', cursive;
}

.center .center-content p {
    font-size: 25px;
    color: var(--text2-color);
    font-weight: bold;
    margin: 15px 0;
}

/* mid */
.mid {
    background-color: var(--sub-color);
    color: var(--text-color);
}

.section-title-mid {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

}

.section-title-mid h2 {
    font-size: 30px;
    color: var(--text2-color);
    text-transform: uppercase;
}

.section-title-mid h2::before {
    content: attr(data-title);
    display: block;
    color: var(--text-color);
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.mid .mid-item h2 {
    color: var(--text2-color);
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}

.mid .mid-item h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
    color: var(--text2-color);
}

.mid .mid-item p {
    color: var(--text-color);
    font-size: 25px;
    margin-bottom: 25px;
}

.mid .mid-item img {
    width: 120%;
    border-radius: 10px;
}

.mid-item {
    width: calc(100%/2);
    padding: 15px;
}

.mid-item-img {
    position: relative;

}

.mid-item-img span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #3CCF4E;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 29px;
    transform: translate(-50%, -50%);
}

.mid-item-img::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border: 3px solid var(--main-color);
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    animation: turnARound 5s infinite;
}
.btn-midmenu {
    background-color: transparent;
    padding: 15px 30px;
    border: 2px solid var(--text-color);
    border-radius: 50px;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 20px;
}

.btn-midmenu:hover {
    background-color: var(--main-color);

}

@keyframes turnARound {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Menu */
.menu {
    background-color: #355764;
}

.menu-title {
    width: 100%;
    text-align: center;
}
.menu-title p {
    color: var(--text-color);
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.btn-menu {
    background-color: transparent;
    padding: 8px 20px;
    border: 2px solid var(--text2-color);
    border-radius: 10px;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 12px;
    margin-top: 20px;
}

.btn-menu:hover {
    background-color: var(--sub-color);
}
.section-title-menu {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.section-title-menu h2 {
    font-size: 40px;
    color: var(--text2-color);
    text-transform: uppercase;
}

.section-title-menu h2::before {
    content: attr(data-title);
    display: block;
    color: var(--text2-color);
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.menu-title .menu-button {
    background-color: transparent;
    margin: 10px 12px;
    border: none;
    font-size: 20px;
    color: var(--text2-color);
    cursor: pointer;
}

.menu-title .menu-button.active {
    color: var(--text-color);
}

.menu-title .menu-button:hover {
    color: var(--text-color);
}

.food-items {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    position: relative;
    cursor: pointer;
    margin-left: 200px;
    
}

.food-items::before {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    width: 100%;
    border: 0.1px dotted var(--text-color)
}

.food-items:hover .food-item p {
    color: rgb(13, 201, 107);
}

.food-items:hover .food-price p {
    color: var(--text-color);
}

.food-item {
    display: flex;
    align-items: center;
}

.food-item img {
    width: 80px;
    margin-right: 25px;
}

.food-item p {
    color: var(--text-color);
    transform: all 0.3s ease-in;
    font-size: 20px
}

.food-price p {
    color: var(--text2-color);
    transform: all 0.3s ease-in;
    font-size: 20px;
}

.menu-item-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.d-none {
    display: none;
}

/* ---------------bot---------- */
.bot {
    background-image: url("background1.jpg");
    padding-top: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bot::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    opacity: 0.2;
}

.bot-item {
    text-align: center;
    width: calc(100% / 3);
}

.bot h2 {
    color: var(--text2-color);
    font-size: 35px;
    font-family: 'Dancing Script';
}

.bot p {
    color: var(--text2-color);
    margin: 12px;
}
/* Oder */
.order {
    background-color: #E2DCC8;
}

.btn-order {
    background-color: transparent;
    padding: 15px 30px;
    border: 2px solid var(--sub-color);
    border-radius: 50px;
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.4s ease;
    margin-top: 30px;
}

.btn-order:hover {
    color: var(--text-color);
    background-color: var(--main-color);

}

.section-title-order {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.section-title-order h2 {
    font-size: 40px;
    color: var(--sub-color);
    text-transform: uppercase;
}

.section-title-order h2::before {
    content: attr(data-title);
    display: block;
    color: red;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}
.tb-order tbody tr td > input {
    padding: 15px;
    width: 250px;
    
}
.order-item tbody tr {
    text-align: center;
    
}
.order .order-item img {
    width: 80%;
    border-radius: 10px;
    margin: 30px;
}
/* Checkorder */
.checkOrder {
background-color: var(--sub-color);
}
.container1{
    margin-left: 80px;
}
.tb-order1 {
    padding: 15px;
    border: 1px;
    width: 100%;
    color: var(--text2-color);
}
.tb-order1 thead h1 {
    color: var(--text2-color);
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}
.tb-order1 thead tr th {
    padding: 40px;
    font-size: 25px;
    font-family: 'Dancing Script';

}
.tb-order1 tbody tr td {
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.div-item {
    width: 100%;
    display: flex;
}
.btn-booking {
    background-color: transparent;
    padding: 12px 20px;
    border: 2px solid var(--text2-color);
    border-radius: 50px;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.4s ease;
    margin-top: 15px;
}
.btn-booking:hover {
    color: var(--text-color);
    background-color: var(--sub-color);

}
.tboy-order tr td input {
font-size: 15px;
padding: 10px 8px;
background-color: var(--text-color);
font-family:'Roboto', sans-serif;

}
.tboy-order tr td:hover {
    background-color: var(--main-color);
}

.th-order:hover {
    background-color: var(--main-color);
}